/* 全域設定 */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212; /* 黑色背景 */
    color: #ffffff; /* 白色文字 */
  }
  
  header {
    background: #1f1f1f;
    padding: 1rem;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav a {
    color: #ffffff;
    margin: 0 1rem;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  section {
    padding: 2rem;
    margin: 0 auto;
    max-width: 800px;
  }
  
  .gallery-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .gallery-container img {
    width: 100%;
    max-width: 200px;
    border: 2px solid #333;
    border-radius: 5px;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background: #1f1f1f;
  }
  .updated-time {
    display: block;
    font-size: 0.9em;
    color: #888;
    margin-top: 5px;
  }
  
img {
    max-width: 100%;
    max-height: 400px;
    height: auto;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

#html {
  width: 95%;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  background-color: #1f1f1f; /* 深色背景 */
  color: #ffffff; /* 白色文字 */
  border: 1px solid #333; /* 調整表格邊框顏色 */
}

th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid #333; /* 邊框顏色與背景一致 */
}

th {
  background-color: #333333; /* 稍深的灰色，突出表頭 */
  color: #ffffff; /* 白色文字 */
  font-weight: bold; /* 表頭加粗 */
}

td {
  background-color: #1f1f1f; /* 與表格背景一致 */
  color: #ffffff; /* 白色文字 */
}

tr:nth-child(even) {
  background-color: #2a2a2a; /* 偶數行使用較淺的灰色，增加可讀性 */
}

tr:hover {
  background-color: #444444; /* 滑鼠懸停時的效果 */
}

/* 調整程式碼區塊的樣式 */
pre {
  background-color: #333333; /* 灰色背景 */
  color: #ffffff; /* 白色文字 */
  padding: 10px;
  overflow: auto;
  border-radius: 5px; /* 圓角 */
}

code {
  font-family: Consolas, monospace; /* 使用固定寬度字型 */
  background-color: #333333; /* 灰色背景 */
  color: #ffffff; /* 白色文字 */
  padding: 2px 5px; /* 增加內邊距 */
  border-radius: 3px; /* 圓角 */
}
